################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Release
/.vs
/Debug
/Dependencies
/GameEngine/Debug
/GameEngine/Release
/WiedzmakTheGame/Debug
/WiedzmakTheGame/Release
/WiedzmakTheGame/x64/Debug
/WiedzmakTheGame/Resources/wojteks_house
/WiedzmakTheGame/Resources/rpg_sound_pack
/WiedzmakTheGame/Resources/prelude
/WiedzmakTheGame/Resources/outside
/WiedzmakTheGame/Resources/music
/WiedzmakTheGame/Resources/forest
/WiedzmakTheGame/Resources/battle

WiedzmakTheGame/Resources/basic\.vert

WiedzmakTheGame/Resources/battle_stage\.tmx

WiedzmakTheGame/Resources/dialog_background\.png

WiedzmakTheGame/Resources/dialog_background\.tmx

WiedzmakTheGame/Resources/door\.wav

WiedzmakTheGame/Resources/end_card\.png

WiedzmakTheGame/Resources/end_card\.tmx

WiedzmakTheGame/Resources/file_names\.json

WiedzmakTheGame/Resources/forest\.json

WiedzmakTheGame/Resources/forest\.tmx

WiedzmakTheGame/Resources/hyptosis_tile-art-batch-1\.png

WiedzmakTheGame/Resources/hyptosis_tile-art-batch-1\.tsx

WiedzmakTheGame/Resources/interior\.png

WiedzmakTheGame/Resources/interior\.tsx

WiedzmakTheGame/Resources/Lato_Regular\.ttf

WiedzmakTheGame/Resources/mountain_landscape\.png

WiedzmakTheGame/Resources/outside\.json

WiedzmakTheGame/Resources/outside\.tmx

WiedzmakTheGame/Resources/PathAndObjects\.png

WiedzmakTheGame/Resources/PathAndObjects\.tsx

WiedzmakTheGame/Resources/portraits_clear\.png

WiedzmakTheGame/Resources/portraits\.png

WiedzmakTheGame/Resources/prelude\.json

WiedzmakTheGame/Resources/prelude\.tmx

WiedzmakTheGame/Resources/ranger_m\.png

WiedzmakTheGame/Resources/ranger_m\.tsx

WiedzmakTheGame/Resources/rpg_sound_pack\.zip

WiedzmakTheGame/Resources/townfolk1_m\.png

WiedzmakTheGame/Resources/townfolk1_m\.tsx

WiedzmakTheGame/Resources/wojteks_house_0\.tmx

WiedzmakTheGame/Resources/wojteks_house\.json

WiedzmakTheGame/Resources/wojteks_house\.png

WiedzmakTheGame/Resources/wojteks_house\.tmx

WiedzmakTheGameBackup/

WiedzmakTheGame/Resources/
